{% if object.cerrado != 1 and object.facturado != true %}
<a href="{{ path('admin_app_anexoii_delete', {'id': object.NumAnexo}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Borrar'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-times"></i>
        {{ 'Borrar' }}
</a>
{% endif %}