{% if object.recibo == false %}
<a href="{{ path('admin_app_pago_recibo', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="Generar Recibo">
    <i class="glyphicon glyphicon-list"></i>
    Recibo
</a>
{% endif %}