<a href="{{ path('admin_app_recibo_pdf', {'id': object.id}) }}" class="btn btn-sm btn-info view_link" title="{{ 'Generar PDF'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-save-file"></i>
        Pdf
</a>
