<a href="{{ path('admin_app_factura_itemprefacturacion_list', {'id': object.idFactura}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Items'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Items' }}
</a>