<a href="{{ path('admin_app_liquidacion_listitems', {'id': object.id}) }}" class="btn btn-sm btn-default view_link" title="{{ 'Listado'|trans({}, 'SonataAdminBundle') }}">
    <i class="glyphicon glyphicon-list"></i>
    Listado
</a>