<a href="{{ path('admin_app_compra_show', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Gestionar Consignacion'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Gestionar' }}
        {#{ 'action_actividadlist'|trans({}, 'AppBundle') }#}
</a>