{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block field %}
    {% set tope = 0 %}
    {% if object.fechaDocumentacion %}
        {% set modify = '+ 10 day' %}
        {% set dias = object.fechaDocumentacion | date_modify(modify) %}
        {% set tope = dias.diff(date('now')).days + 1 %}
        {% if dias.diff(date('now')).days > 0 and dias.diff(date('now')).invert == 0 %}
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;background-color: red;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" title="PLAZO VENCIDO"></div>
            </div>
        {% else %}
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ tope*10 }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" title="TE QUEDAN {{ tope }} DIAS"></div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}